@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.catalog-header {
  position: fixed;
  color: rgba(30, 33, 44, 1);
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;

  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0;
  }

  @media (max-width: 500px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.catalog-filters {
  margin-top: 221px;
  width: 100%;
  max-width: 1230px;
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;

  &__buttons {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    @media (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: rgba(154, 156, 165, 1);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--active {
      border: 1px solid rgba(255, 63, 58, 1);
      border-radius: 4px;
      color: rgba(255, 63, 58, 1);
    }
  }

  &__button-count {
    font-size: 10px;
    font-weight: 900;
    line-height: 1.5;
    vertical-align: super;
  }

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    gap: 20px;
  }

  @media (max-width: 500px) {
    margin-bottom: 30px;
  }
}

.catalog-search {
  border: 1px solid rgba(215, 218, 221, 1);
  border-radius: 4px;
  padding: 0px 16px;
  width: 315px;
  display: flex;

  & * {
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__field {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &__input,
  &__input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    padding-right: 8px;
  }

  @media (max-width: 1200px) {
    width: 100%;
    padding: 10px 20px;
  }
}

.catalog {
  max-width: 1230px;
  width: 100%;
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 auto 80px;

    @media (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      margin-bottom: 40px;
    }
  }

  &__load-more-btn {
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0 auto 86px;
    gap: 16px;
    align-content: center;
    cursor: pointer;

    &__icon {
      width: 24px;
      height: 24px;
      margin: auto 0;
    }

    &__text {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.6;
    }

    @media (max-width: 500px) {
      margin-bottom: 30px;
    }
  }
}

.card {
  border: 1px solid rgba(229, 232, 237, 1);
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  cursor: pointer;

  &__image {
    width: 100%;
  }

  &__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__department {
    padding: 1px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(3, 206, 164, 1);
    width: fit-content;
    border-radius: 4px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
  }

  &__info-price {
    display: flex;
    gap: 8px;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(120, 122, 128, 1);
  }

  &__price {
    color: rgba(255, 66, 66, 1);
    font-weight: 700;
  }

  &__author {
    font-weight: 400;
  }
}

.catalog-background__shape {
  position: absolute;
  z-index: 1;
  pointer-events: none;

  &--1 {
    top: 50px;
    right: 0px;
  }

  &--2 {
    top: 687px;
    left: 56px;
  }

  &--3 {
    top: 1104px;
    right: 72px;
  }

  @media (max-width: 1600px) {
    &--2 {
      left: 16px;
    }

    &--3 {
      right: 22px;
    }
  }

  @media (max-width: 1480px) {
    display: none;
  }
}
